#Node
node_modules
dist/
# Keep environment variables out of version control
.env
.env.*
/generated/prisma
#Prisma
.prisma
prisma/dev.db

#Docker
*.log

coverage
#OS
.DS_Store
npm-debug.log*
yarn-error.log*